
.apollo{
  display: flex;



}
.apollo_history{
  font-family: Goldman, cursive;
  color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  max-width: 20rem;
  max-height: 45rem;
  padding-left: 18rem;


}



.video_apollo{
  max-height: 30rem;
  max-width: 40rem;
  position: absolute ;
  margin-left: 4.5rem;
  margin-top: 1.5rem;

}
.apollo_media{
  display: flex;


}
.apollo_sign{
padding-left: 17rem;
  padding-top: 26rem;

}