

.th__apollo_section{
  padding-top: 5rem;
display: flex;
  justify-content: center;
  align-items: center;

  .th__apollo_text{
    font-family: Goldman, cursive;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 28rem;
    max-height: 45rem;

  }
}

.sojuz_sign{

  padding-right: 10rem;
  margin-left: 2rem;

}
.video_sojuz{
  height: 20rem;
  width: 35rem;
  position: relative ;



}

