
.apollo{
  display: flex;
align-items: center;
  justify-content: center;
  padding-top: 5rem;


}
.apollo_history{
  font-family: Goldman, cursive;
  color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  max-width: 25rem;
  max-height: 45rem;
}

.video_apollo{
  max-height: 30rem;
  max-width: 40rem;
  position: absolute ;
  margin-left: 4.5rem;


}
.apollo_media{
  display: flex;


}
.apollo_sign{
padding-left: 17rem;
  padding-bottom: 20rem;

}