

.th__apollo_section{
display: flex;
  .th__apollo_text{
    font-family: Goldman, cursive;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 28rem;
    max-height: 45rem;
    padding-left: 18rem;


  }
}

.sojuz_sign{

  padding-left: 12rem;
  padding-top: 26rem;
}
.video_sojuz{
  height: 20rem;
  width: 35rem;
  position: absolute ;
  margin-left: 2rem;
  margin-top: 4.5rem;

}

